:root {
	--primary-font: 'Open Sans', sans-serif;
	--error-border: #a42;
	--border-color: #bbb;
	--border: 1px solid var(--border-color);
	--header-color: #333;
	--header-transition: 0.2s ease-in-out;
	--header-padding: 0 5px 5px 5px;
	--header-height: 40px;
	--background-color: #E5E5E5;
	--accent: #0097E7;
	--accent-light: #6EC1ED;
	--accent-pale: #e1f2f8;
	--accent-dark: #0071AD;
}
