{{#*inline "content"}}
<div class="row"><div class="col-md-12"><div class="page-header"><h1>Profile
<small>Account</small>
</h1>
</div>
</div>
</div>

<div class="row"><div class="col-md-3"><ul class="nav nav-pills nav-stacked"><li class="active"><a href="https://builditbreakit.org/profile/account">Account</a>
</li>
<li class=""><a href="https://builditbreakit.org/profile/teams">Teams</a>
</li>
</ul>
</div>
<div class="col-md-9"><a class="pull-right btn btn-default" type="button" href="https://builditbreakit.org/profile/account/edit">Edit</a>
<div class="clear"></div>
<form class="form-horizontal"><div class="form-group"><label class="col-md-4 control-label">Username</label>
<div class="col-md-8"><p class="form-control-static">djrenren</p>
</div>
<label class="col-md-4 control-label">Email</label>
<div class="col-md-8"><p class="form-control-static">john@jrenner.net</p>
</div>
<label class="col-md-4 control-label">Created</label>
<div class="col-md-8"><p class="form-control-static">2021.03.26 01:45 EDT</p>
</div>
<label class="col-md-4 control-label">Consent form</label>
<div class="col-md-8"><p class="form-control-static">Not uploaded (<a href="https://builditbreakit.org/profile/account/consent">Upload here</a>)</p>
</div>
<label class="col-md-4 control-label">Resume</label>
<div class="col-md-8"><p class="form-control-static">Not uploaded (<a href="https://builditbreakit.org/profile/account/resume">Upload here</a>)</p>
</div>
<label class="col-md-4 control-label">School</label>
<div class="col-md-8"><p class="form-control-static">UCSD</p>
</div>
<label class="col-md-4 control-label">Graduation year</label>
<div class="col-md-8"><p class="form-control-static">2017</p>
</div>
<label class="col-md-4 control-label">Major</label>
<div class="col-md-8"><p class="form-control-static">Software Engineering</p>
</div>
<label class="col-md-4 control-label">Minor</label>
<div class="col-md-8"><p class="form-control-static">N/A</p>
</div>
<label class="col-md-4 control-label">Degrees held</label>
<div class="col-md-8"><p class="form-control-static">N/A</p>
</div>
<label class="col-md-4 control-label">Degree</label>
<div class="col-md-8"><p class="form-control-static">Undergraduate</p>
</div>
<label class="col-md-4 control-label">Years of experience</label>
<div class="col-md-8"><p class="form-control-static">10</p>
</div>
<label class="col-md-4 control-label">Languages known</label>
<div class="col-md-8"><p class="form-control-static">Rust, Haskell</p>
</div>
<label class="col-md-4 control-label">Favorite languages</label>
<div class="col-md-8"><p class="form-control-static">Rust</p>
</div>
<label class="col-md-4 control-label">Class experience?</label>
<div class="col-md-8"><p class="form-control-static">Yes</p>
</div>
<label class="col-md-4 control-label">Personal experience?</label>
<div class="col-md-8"><p class="form-control-static">Yes</p>
</div>
<label class="col-md-4 control-label">Internship experience?</label>
<div class="col-md-8"><p class="form-control-static">Yes</p>
</div>
<label class="col-md-4 control-label">Security training?</label>
<div class="col-md-8"><p class="form-control-static">Yes</p>
</div>
<label class="col-md-4 control-label">Security experience?</label>
<div class="col-md-8"><p class="form-control-static">Yes</p>
</div>
<label class="col-md-4 control-label">Soft eng. experience?</label>
<div class="col-md-8"><p class="form-control-static">Yes</p>
</div>
<label class="col-md-4 control-label">Taken security class?</label>
<div class="col-md-8"><p class="form-control-static">Yes</p>
</div>
<label class="col-md-4 control-label">Previous contestant?</label>
<div class="col-md-8"><p class="form-control-static">No</p>
</div>
<label class="col-md-4 control-label">Programmer rating</label>
<div class="col-md-8"><p class="form-control-static">8/10</p>
</div>
<label class="col-md-4 control-label">Attacker rating</label>
<div class="col-md-8"><p class="form-control-static">4/10</p>
</div>
<label class="col-md-4 control-label">Age</label>
<div class="col-md-8"><p class="form-control-static">26</p>
</div>
<label class="col-md-4 control-label">Gender</label>
<div class="col-md-8"><p class="form-control-static">Male</p>
</div>
<label class="col-md-4 control-label">Nationality</label>
<div class="col-md-8"><p class="form-control-static">USA</p>
</div>
</div>
</form>
</div>
</div>
{{/inline}}
{{~> layout~}}
